<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @share.email %>
</p>
<p>
  <strong>Id:</strong>
  <%= @share.id %>
</p>
<p>
  <strong>Recipient email:</strong>
  <%= @share.recipient_email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @share.message %>
</p>

<p>
  <strong>Shared File(s)</strong>
  <p><strong>Right click to download files</strong></p>
  <% @share.documents.each do |doc| %>
  <div class="btn" id="download_button"><a href="<%= doc.item %>" target="_blank"><%= doc.item %></a></div>
  <% end %>
</p>
<%= link_to 'Edit', edit_share_path(@share) %> |
<%= link_to 'Back', shares_path %>
