<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :share_id, :value => @share.id %>
    <div class="field well">
    <%= f.label :file_to_share , :class => "lead" %><br>
    <%= f.file_field :item%>
  </div>

  <div class="actions">
    <%= f.submit "Upload File" , :class => "btn-primary btn" %>
  </div>
  <p>or</p>
  <div><%= link_to 'Finish your share with a message', "/shares/#{@share.id}/finalize", :class => 'btn' %></div>
<% end %>
